

<!DOCType html>
<html>
<head>
    <meta name="viewport" content="width=divce-width" />
    <title> @ViewBag.Title </title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <center>
            @* 1. Html Tag *@
            @* <a href="/Home/Index" class="btn btn-success">Home</a>
            <a href="/Home/AboutUs" class="btn btn-success mx-2">About Us</a>
            <a href="/Home/Privacy" class="btn btn-warning mx-2">Privacy</a>
            <a href="/Home/ContactUs" class="btn btn-danger mx-2">Contact Us</a> *@

            @* 2. Html Helper *@
           @*  @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-success" })
            @Html.ActionLink("AboutUs", "AboutUs", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Privacy", "Privacy", "Home", null, new { @class = "btn btn-warning" })
            @Html.ActionLink("ContactUs", "ContactUs", "Home", null, new { @class = "btn btn-danger" ,@target="_blank"})
            *@

            @* 3.Tag Helper *@
            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Home</a>
            <a asp-controller="Home" asp-action="AboutUs" class="btn btn-success mx-2">About Us</a>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-warning mx-2">Privacy</a>
            <a asp-controller="Home" asp-action="ContactUs" class="btn btn-danger mx-2">Contact Us</a>
        </center>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="fixed-bottom">
        <center>
            CopyRight &copy; @DateTime.Now.Year
        </center>
    </footer>
</body>
</html>